
# Or which to listen on by address (remember to include 127.0.0.1 if
# you use this.)
#listen-address=

{% if dnsmasq_bind_interfaces is defined and dnsmasq_bind_interfaces != [] %}
{%   for item in dnsmasq_bind_interfaces %}
interface={{ item }}
{%   endfor %}
{% endif %}

{% if dnsmasq_bind_listen_only_interfaces %}
bind-interfaces
{% endif %}

{% if dnsmasq_do_not_listen_on_interfaces is defined and dnsmasq_do_not_listen_on_interfaces != [] %}
{%   for item in dnsmasq_do_not_listen_on_interfaces %}
except-interface={{ item }}
{%   endfor %}
{% endif %}
