#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

# Add the IPs of all queries to yahoo.com, google.com, and their
# subdomains to the vpn and search ipsets:
#ipset=/yahoo.com/google.com/vpn,search
