#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if dnsmasq_server.nameservers is defined and
      dnsmasq_server.nameservers | count > 0 %}
  {% for item in dnsmasq_server.nameservers %}
server={{ item }}
  {% endfor %}
{% endif %}

{% if dnsmasq_server.forwarders is defined and
      dnsmasq_server.forwarders | count > 0 %}
  {% for item in dnsmasq_server.forwarders %}
server=/{{ item.domain }}/{{ item.address }}
  {% endfor %}
{% endif %}

{#
# Add other name servers here, with domain specs if they are for
# non-public domains.
#server=/localnet/192.168.0.1

# Example of routing PTR queries to nameservers: this will send all
# address->name queries for 192.168.3/24 to nameserver 10.1.2.3
#server=/3.168.192.in-addr.arpa/10.1.2.3

# You can control how dnsmasq talks to a server: this forces
# queries to 10.1.2.3 to be routed via eth1
# server=10.1.2.3@eth1

# and this sets the source (ie local) address used to talk to
# 10.1.2.3 to 192.168.1.1 port 55 (there must be an interface with that
# IP on the machine, obviously).
# server=10.1.2.3@192.168.1.1#55
#}
